#about .container {
  display: grid;
  grid-template-columns: 400px auto;
  align-items: stretch;
  gap: 30px;
}

#about .company__photo {
  border-radius: var(--radius-2);
  overflow: hidden;
  max-width: 400px;
  margin: auto;
}

#about .company__photo:hover img {
  transform: scale(1.2);
}

#about .sub__title {
  margin: 10px 0;
}

.group {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin: 20px 0;
}

.group .row {
  display: flex;
  align-items: center;
  gap:15px;
  width: 100%;
  padding: 10px;
  background: var(--color-ui-secondary);
  border-radius: var(--radius-2);
  transition: var(--transition);
}

 .group .row:hover {
  background: var(--color-ui-variant);
}

 .group .row .icon__container {
  background: transparent;
}

 .group .row:hover .icon__container {
  transform: scale(1.2);
}

#about .buttons__container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

@media (max-width: 900px){
   .container {
    grid-template-columns: 100%;
  }

   .description,
   .sub__title {
    text-align: center;
  }

   .buttons__container {
    justify-content: center;
    gap: 10px;
  }

   .group .row .icon__container {
    width: 1.5rem;
    height: 1.5rem;
  }

   .group .row .details .text__muted {
    font-size: 12px;
  }

   .group .row .details h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 765px) {
  .group {
   
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    margin: 20px 0;
  }
}
