/* @import "tailwindcss"; */

/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */

.container {
	width: 100%;
	max-width: 1100px;
	margin: auto;
	padding: 100px 20px;
}

.container.full__height {
	min-height: 100vh;
}

.text__muted {
	color: var(--color-muted);
}

.color__primary {
	color: var(--color-primary);
}

.g-text {
	background: var(--gradient-1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.profile {
	width: 2rem;
	height: 2rem;
	min-width: 2rem;
	min-height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
	overflow: hidden;
	border-radius: var(--radius-5);
	cursor: pointer;
	transition: var(--transition);
}

.profile:hover {
	opacity: 0.5;
}

.icon__container {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius-5);
	transition: var(--transition);
	color: var(--color-text);
	background: var(--color-ui-secondary);
}

.icon__container:hover {
	transform: scale(1.2);
}

.btn {
	padding: 15px 25px;
	border-radius: var(--radius-4);
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 0 1px 2px var(--color-primary);
	color: var(--color-primary);
	background: var(--color-ui-secondary);
	transition: var(--transition);
}

.btn:hover {
	background: var(--color-primary);
	color: var(--color-white);
}

.btn__primary {
	background: var(--gradient-1);
	color: var(--color-white);
	transition: var(--transition);
}

.btn__primary:hover {
	background: transparent;
	box-shadow: 0 0 1px 2px var(--color-primary);
	color: var(--color-primary);
}

.title {
	font-size: 55px;
	font-weight: 800;
	margin: 20px 0;
}

.sub__title {
	font-size: 25px;
	font-weight: 600;
}

.primary-effect,
.blur-effect {
	position: relative;
}

.primary-effect::before,
.blur-effect::before {
	position: absolute;
	content: '';
	transition: var(--transition);
}

.primary-effect::before {
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 50%;
	transition: var(--transition);
	background: linear-gradient(
		to bottom,
		transparent 0%,
		var(--color-primary) 75%
	);
}

.blur-effect::before {
	width: 322px;
	height: 308px;
	background: var(--gradient-2);
	border-radius: 50%;
	-webkit-filter: blur(150px);
	filter: blur(150px);
	z-index: 0;
}

/* Make it responsive */
@media (min-width: 1500px) {
	.container.full__height {
		min-height: auto;
	}
}

@media (max-width: 900px) {
	.container {
		padding: 40px 20px;
	}

	.title {
		font-size: 30px;
	}
	.sub__title {
		font-size: 20px;
	}
	.btn {
		font-size: 12px;
	}
}
